@font-face {
    font-family: "oswald";
    src: url("fonts/Oswald-VariableFont_wght.ttf");
}

@keyframes animacion_titulo{

    0% {font-variation-settings: "wght" 0;}
    50% {font-variation-settings: "wght" 600;}
    100% {font-variation-settings: "wght" 0;}
}

body{
    background-color: rgb(107, 139, 158);

}


.titulo_uno{ 
    font-family: "oswald", serif;
    text-align: center;

    font-variation-settings: "wght" 0;

    animation: animacion_titulo 1.5s ease-in-out infinite;


    
}

.titulo_dos{
   
    color: white;

    position: relative;
    top: -61px;
    font-family: "oswald", serif;
    text-align: center;

    font-variation-settings: "wght" 0;
    animation: animacion_titulo 1.5s ease-in-out infinite;

    
}

.mario_luigi{
    
    display: block;

    height: 280px;
    width: 270px;

    margin-left: auto;
    margin-right: auto;

    object-fit: cover;
    
    filter: drop-shadow(7px -7px 1.5px black);



    
}


